body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
  }
  
  .container {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  form input[type="file"] {
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  #convert-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #convert-btn:hover {
    background-color: #3e8e41;
  }
  
  #result {
    display: none;
    margin-top: 20px;
    text-align: center;
  }
  
  #result p {
    font-size: 18px;
  }
  
  #download-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #download-btn:hover {
    background-color: #3e8e41;
  }
  